<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="text-center">I TUOI DATI</h1>
      <div class="col-xs-6 col-xs-offset-2">
        <img class="media-object img-responsive" *ngIf="!utente.image" src="http://via.placeholder.com/100x100" alt="img_profilo_cmt">
        <img class="media-object img-responsive" *ngIf="utente.image" [src]="serverPath + utente.image" alt="img_profilo_cmt">
        <div class="form-group">
          <label class="col-sm-12 text-center">Email: <span style="color:dimgray">{{ utente?.email }}</span></label>
        </div>
        <div class="form-group">
          <label class="col-sm-12 text-center">Data Creazione:
            <span style="color:dimgray">
              {{ utilities.stringToDateTime(utente?.dateCreationAsString)| date: 'MM/dd/yyyy HH:mm' }}
            </span>
          </label>
        </div>
        <div class="form-group">
          <label class="col-sm-12 text-center">Data Ultimo Accesso:
            <span style="color:dimgray">
              {{ utilities.stringToDateTime(utente?.dateLastAccessAsString)| date: 'MM/dd/yyyy HH:mm' }}
            </span>
          </label>
        </div>
          <div class="form-group text-center col-sm-12">
            <label for="profilePicture">Change your profile picture</label>
            <input type="file" id="profilePicture" name="profilePicture" (change)="selectFile($event)" #profilePicture>
            <p class="help-block">cambia la tua immagine del profilo. (solo formato jpg e png < di 800kb)</p>
          </div>
        <div class="text-center">
          <button type="submit" class="btn btn-default" [disabled]="!files" (click)="uploadProfilePic()">Upload</button>
        </div>
      </div>
    </div>
</div>
