<div class="col-xs-12 col-sm-6 col-lg-4" *ngIf="post.visibile">
  <div class="thumbnail text-center">
    <img [src]="'http://via.placeholder.com/250x200'" alt="post_img">
    <div class="caption">
      <hr>
      <h3>{{post.titolo | slice:0:20}}</h3>
      <label>Pubblicato il {{ utilities.stringToDateTime(post.dataPostAsString)| date: 'MM/dd/yyyy HH:mm' }}</label>
      <hr>
      <p>
        <button [routerLink]="['/posts', post.id]" class="btn btn-default" role="button" [disabled]="utente === null">Leggi il post</button>
      </p>
    </div>
  </div>
</div>
