<div class="col-xs-6 col-lg-4" *ngIf="post.visibile">
  <div class="thumbnail text-center">
    <img [src]="'http://via.placeholder.com/250x200'" alt="post_img">
    <div class="caption">
      <hr>
      <h3>{{post.titolo | slice:0:20}}</h3>
      <label>Pubblicato il {{ utilities.localDateToDate(post.dataPost)| date: 'MM/dd/yyyy' }}</label>
      <hr>
      <p>
        <a [routerLink]="['/posts', post.id]" class="btn btn-default" role="button">Leggi il post</a>
      </p>
    </div>
  </div>
</div>
