.profile-pic {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: 50% 50%;
}

.post-profile-pic {
   border-radius: 5px;
   height: 100px;
   width: 100px;
   object-fit: cover;
   object-position: 50% 50%;
 }
